body {
    margin: 0;
    margin-top: 42px;
    margin-bottom: 42px;
    padding: 0;
  }
  
  #intro-section {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../img/game/game-background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  #start-button {
    padding: 10px 20px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  #start-button img {
    text-align: center;
    max-width: 100px;
  }
  
  #start-button h2 {
    font-size: 24px;
    margin-top: 10px;
  }
  
  #game-section {
    position: relative;
  }
  
  .hidden {
    display: none;
  }

body {
    margin: 0;
    margin-top: 42px;
    margin-bottom: 42px;
    padding: 0;
  }
  
  #game-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../img/game/game-background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  #container {
    position: relative;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    color: #ffffff;
    background-color: #4caf50;
    border-radius: 10px;
  }
  
  h1 {
    font-size: 36px;
    margin-bottom: 20px;
    color: #FD9D00;
  }
  
  #carousel {
    position: relative;
    margin-top: 20px;
  }
  
  .slide {
    display: none;
  }
  
  .slide.active {
    display: block;
  }
  
  .slide img {
    max-width: 80%;
    height: auto;
    border-radius: 5px;
  }
  
  .slide h3 {
    font-size: 24px;
    margin-top: 10px;
    color: #1b1b1b;
  }
  
  #hearts {
    margin-top: 20px;
  }
  
  #hearts img {
    width: 30px;
    height: auto;
    margin-right: 5px;
  }

  .special-slide {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #e2e2e2;
    padding: 20px;
  }
  
  .special-slide img {
    max-width: 80%;
    height: auto;
    border-radius: 5px;
  }
  
  .special-slide h3 {
    font-size: 24px;
    margin-top: 10px;
    color: #1b1b1b;
    text-align: center;
  }
  
  
  
  @media screen and (max-width: 600px) {
    #container {
      max-width: 100%;
      padding: 10px;
    }
    
    h1 {
      font-size: 24px;
      margin-bottom: 10px;
    }
    
    .slide h3 {
      font-size: 18px;
    }
    
    #hearts img {
      width: 20px;
    }
  }
  